
<div class="container p-2 d-flex flex-column">
  <div class="d-flex justify-content-center">
  <div>
  </div>
    <h1>Your answer</h1>
    </div>
    <div class="d-flex justify-content-center bg-white rounded">
      <p style="font-weight: bold;">My question: &nbsp;</p>
      <p><%= @query %></p>
    </div>
    <div class="d-flex justify-content-center bg-white rounded">
      <p style="font-weight: bold;">The answer:&nbsp; </p>
      <p><%= @answer %></p>
    </div>
</div>
